.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: $icons-color;
    transition: border $transition-duration $transition-timing-function,
    fill $transition-duration $transition-timing-function;
    &:hover, &:focus {
    border: 1px solid #2196F3;
    fill: $accent-color;
}
}
.clients__item:not(:last-child) {
    margin-right: 30px;
}
